<ul class="list-group mt-3">
  <li class="list-group-item list-group-item-action">
    <%= link_to follow.username, user_path(follow.username), { :class => "list-group-item list-group-item-action" } %>
  </li>
</ul>
